<div class="scale">
	<div class="scale__money">
		<div class="scale__money-text">Нужно собрать</div>
		<div class="scale__money-total">24 000 $</div>
	</div>
	<div class="scale__scale">
		<div class="scale__scale-value" style="width: 25%;"></div>
	</div>
	<div class="scale__footer">
		<div class="scale__label">
			<div class="scale__label-name">Всего собрано</div>
			<div class="scale__label-value">25%</div>
		</div>
		<div class="scale__label">
			<div class="scale__label-name">Осталось собрать</div>
			<div class="scale__label-value">21 000 $</div>
		</div>
	</div>
</div>
