@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.scale {

}

.scale__money {
	margin-top: auto;
	margin-bottom: 24px;
}

.scale__money-text {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #858484;
}

.scale__money-total {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	margin-top: 4px;
}

.scale__scale {
	height: 12px;
	position: relative;

	&::after {
		content: '';
		top: 0;
		border-radius: 28px;
		border: 1px solid #dfdfdf;
		background: #fff;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
}

.scale__scale-value {
	position: absolute;
	height: 12px;
	left: 0;
	top: 0;
	border-radius: 28px;
	z-index: 10;
	background: repeating-linear-gradient(-40deg, #0042c1, #0042c1 14px, #00a0fb 14px, #00a0fb 21px) repeat-x;
}

.scale__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.scale__label {
	&:last-child {
		text-align: right;
	}
}

.scale__label-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #858484;
}

.scale__label-value {
	margin-top: 2px;
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
}

@media (max-width: $sm-max) {
	.scale {
		padding: 12px 8px 23px;
		background: #fff;
		border-radius: 30px;
	}
	.scale__money {
		text-align: center;
		margin-bottom: 16px;
	}
	.scale__money-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 36px;
	}
	.scale__money-total {
		font-size: 26px;
		line-height: 32px;
	}
	.scale__footer {
		padding: 0 8px;
	}
	.scale__label-name {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
	}
	.scale__label-value {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}
}