@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.scroll-shadow-edge {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 30;
	}

	&.left-begin,
	&.top-begin {
		&::before {
			display: none;
		}
	}

	&.left-end,
	&.top-end {
		&::after {
			display: none;
		}
	}
}

.scroll-shadow-edge--horizontal {
	&::before,
	&::after {
		top: 0;
		height: 100%;
		width: 30px;
		pointer-events: none;
		display: block;
	}

	&::before {
		left: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
	}

	&::after {
		right: 0;
		background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
	}
}

.scroll-shadow-edge--vertical {
	&::before,
	&::after {
		left: 0;
		width: calc(100% - 8px);
		height: 50px;
	}

	&::before {
		top: 0;
		background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
	}

	&::after {
		bottom: 0;
		background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
	}
}