@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main-nav {

}

.main-nav__grid {
	display: flex;
	margin: 0 -29px;
}

.main-nav__cell {
	padding: 0 29px;
}

.main-nav__item {
	display: block;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	padding: 26px 0;
	position: relative;
	transition-duration: 300ms;
	color: #000;

	&::after {
		height: 4px;
		width: 100%;
		background: #0042c1;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition-duration: 300ms;
	}
}

.main-nav__item--active {
	color: #0042c1;

	&::after {
		opacity: 1;
	}
}

@include no-touch {
	.main-nav__item:hover {
		color: #0042c1;

		&::after {
			opacity: 1;
		}
	}
}

@media (max-width: $md-max) {
	.main-nav__grid {
		margin: 0 -15px;
	}
	.main-nav__cell {
		padding: 0 15px;
	}
}

@media (max-width: $sm-max) {
	.main-nav__grid {
		flex-direction: column;
	}
	.main-nav__item {
		color: #000;
		padding: 8px 0;
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;

		&::after {
			display: none;
		}
	}
}