<nav class="main-nav">
	<div class="main-nav__grid">
		<div class="main-nav__cell">
			<a class="main-nav__item  main-nav__item--active  js-scroll-to  js-class__toggler" data-offset="100" href="#about-collection">О сборе</a>
		</div>
		<div class="main-nav__cell">
			<a class="main-nav__item  js-scroll-to  js-class__toggler" data-offset="100" href="#history">История Сергея</a>
		</div>
		<div class="main-nav__cell">
			<a class="main-nav__item  js-scroll-to  js-class__toggler" data-offset="100" href="#about-disease">О болезни</a>
		</div>
		<div class="main-nav__cell">
			<a class="main-nav__item  js-scroll-to  js-class__toggler" data-offset="100" href="#documents">Документы</a>
		</div>
		<div class="main-nav__cell">
			<a class="main-nav__item  js-scroll-to  js-class__toggler" data-offset="100" href="#help">Как помочь</a>
		</div>
		<div class="main-nav__cell">
			<a class="main-nav__item  js-scroll-to  js-class__toggler" data-offset="100" href="#contacts">Контакты</a>
		</div>
	</div>
</nav>
