@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.documents {
	&.show-all {
		.toggle-class__toggler {
			span {
				&:first-child {
					display: none;
				}

				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
	}
}

.documents__wrapper {
	padding-right: 20px;
	max-height: 500px;
}

.documents__item {
	display: flex;

	+ .documents__item {
		margin-top: 20px;
	}
}

.documents__icon {
	margin-right: 8px;
	margin-top: 3px;
	flex-shrink: 0;

	svg {
		width: 24px;
		height: 24px;
	}
}

.documents__name {
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.documents__action {
	margin-top: 10px;
	display: flex;
}

.documents__link {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.02em;
	border-bottom: 1px solid;
	color: #535353;
	transition-duration: 300ms;
	@include no-touch {
		&:hover {
			opacity: .7;
		}
	}

	+ .documents__link {
		margin-left: 15px;
	}
}

@media (max-width: $sm-max) {
	.documents {
		&.show-all {
			.documents__item {
				&:nth-child(n) {
					display: flex;
				}
			}
		}
	}
	.documents__wrapper {
		overflow-y: visible;
		max-height: none;
		padding-right: 0;
	}
	.documents__item {
		&:nth-child(n + 5) {
			display: none;
		}
	}
	.documents__name {
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
}