<div class="documents  toggle-class  scroll-shadow-edge  scroll-shadow-edge--vertical  js-scroll-shadow-edge  js-class"
     data-class="show-all" data-position="Top">
	<div class="documents__wrapper  custom-scroll  scroll-shadow-edge__list js-scroll-shadow-edge__content">
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Заключение Республиканского консилиума о назначении мне лекарственного средства (ЛС) "Рисдиплам" (Эврисди):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Медицинское заключение о том, что я нуждаюсь в аппаратах НИВЛ (неинвазивной вентиляции легких) и откашливателе (инсуффлятор-аспираторе):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Медицинское заключение о том, что я нуждаюсь в аппаратах НИВЛ (неинвазивной вентиляции легких) и откашливателе (инсуффлятор-аспираторе):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Заключение Республиканского консилиума о назначении мне лекарственного средства (ЛС) "Рисдиплам" (Эврисди):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Медицинское заключение о том, что я нуждаюсь в аппаратах НИВЛ (неинвазивной вентиляции легких) и откашливателе (инсуффлятор-аспираторе):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
		<div class="documents__item">
			<div class="documents__icon">
				<svg class="symbol  symbol-document">
					<use xlink:href="img/sprite/sprite.svg#document"></use>
				</svg>
			</div>
			<div class="documents__content">
				<div class="documents__name">Медицинское заключение о том, что я нуждаюсь в аппаратах НИВЛ (неинвазивной вентиляции легких) и откашливателе (инсуффлятор-аспираторе):</div>
				<div class="documents__action">
					<a href="/img/documents/1.jpg" class="documents__link" data-fancybox="images"
					   data-caption="Результат теста ДНК подтверждающий диагноз «Спинальная мышечная атрофия»"
					   title="Просмотреть" aria-label="Просмотреть">Просмотреть</a>
					<a href="/img/img__photo--4.jpg" class="documents__link" download="" title="Скачать" aria-label="Скачать">Скачать</a>
				</div>
			</div>
		</div>
	</div>
	<div class="toggle-class__toggler  hidden-lg  hidden-md  js-class__toggler">
		<span>Все документы</span>
		<span>Свернуть</span>
		<i class="accordion__icon"></i>
	</div>
</div>