@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.social {
}

.social__caption {
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #656565;
}

.social__grid {
	margin: -16px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.social__cell {
	padding: 16px;
}

.social__item {
	transition-duration: 300ms;
	color: #000;
	@include no-touch {
		&:hover {
			color: #0042c1;
		}
	}

	svg {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: $sm-max) {
	.social__item {
		color: #0042c1;
	}
}