<div class="social">
	<div class="social__caption">СОЦ.СЕТИ</div>
	<div class="social__grid">
		<div class="social__cell">
			<a href="#" class="social__item">
				<svg class="symbol  symbol-fb">
					<use xlink:href="img/sprite/sprite.svg#fb"></use>
				</svg>
			</a>
		</div>
		<div class="social__cell">
			<a href="#" class="social__item">
				<svg class="symbol  symbol-ok">
					<use xlink:href="img/sprite/sprite.svg#ok"></use>
				</svg>
			</a>
		</div>
		<div class="social__cell">
			<a href="#" class="social__item">
				<svg class="symbol  symbol-vk">
					<use xlink:href="img/sprite/sprite.svg#vk"></use>
				</svg>
			</a>
		</div>
		<div class="social__cell">
			<a href="#" class="social__item">
				<svg class="symbol  symbol-in">
					<use xlink:href="img/sprite/sprite.svg#in"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
