<section class="section  section--right">
	<div class="section__wrapper  container">
		<h2 class="section__title">История Сергея</h2>
		<div class="section__visual  hidden-lg  hidden-md">
			<img src="/img/img__photo--3.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
		</div>
		<div class="section__grid">
			<div class="section__cell">
				<div class="section__content">
					<p>Меня зовут Сергей Поглазов. Мне 48 лет. Я живу в Республике Беларусь, в небольшом районном городе Гродненской области с женой Аннушкой и сыном Виталиком, ему 10 лет.</p>
					<p class="bold">С самого рождения я болен тяжелым генетическим заболеванием СМА - спинальная мышечная атрофия.</p>
					<p>Болезнь не помешала заниматься в жизни многими вещами. Вязал на спицах и крючком, плел макраме, точил деревянные фигурки на токарном станке, играл в карты, домино, шашки, шахматы. По шахматам выполнил норму кандидата в мастера спорта. Увлекался различными настольными играми, головоломками, немножко радиоэлектроникой.</p>
					<div class="hidden-lg  hidden-md">
						<div class="accordion js-accordion">
							<div class="accordion__content js-accordion__content">
								<p>Так же ремонтировал мелкую бытовую технику. Много лет занимался черно-белой фотографией. Помогал школьникам и студентам писать, оформлять и печатать рефераты, контрольные, курсовые и дипломные работы. Ремонтировал механические часы, занимался торговлей, открывал ИП и делал свой интернет-магазин. Работал контент-менеджером и администратором в чужих интернет-магазинах и даже работал программистом.</p>
								<p>Занятия приходилось менять с течением времени. Когда я, из-за потери сил, терял возможность делать что-то одно, то сразу изучал что-то другое, что подходило мне по физическим силам, и начинал заниматься этим. Главная цель была, как и прежде, убедиться, что я тоже живу на земле не зря.</p>
							</div>
							<div class="accordion__toggler js-accordion__toggler">
								<button class="accordion__open" type="button">Читать полностью <i class="accordion__icon"></i></button>
								<button class="accordion__close" type="button">Свернуть <i class="accordion__icon"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section__cell  hidden-sm  hidden-xs">
				<img src="/img/img__photo--3.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
			</div>
		</div>
	</div>
</section>
