@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.section {
	margin-bottom: 66px;
}

.section__title {
	font-weight: 400;
	font-size: 52px;
	line-height: 72px;
	margin: 0;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.section__grid {
	display: flex;
	justify-content: space-between;
}

.section__cell {
	min-width: 0;
	display: flex;

	.goal {
		width: 100%;
	}

	img {
		width: 100%;
		object-fit: cover;
		border-radius: 24px;
	}

	&:nth-child(odd) {
		width: 41.7%;
	}

	&:nth-child(even) {
		width: 52.3%;
	}
}

.section__content {
	font-size: 20px;
	line-height: 32px;
	width: 100%;

	p {
		+ p {
			margin-top: 20px;
		}
	}
}

@media (max-width: $sm-max) {
	.section__title {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
	}
	.section__visual {
		margin-bottom: 20px;
	}
	.section__content {
		font-size: 18px;
		line-height: 28px;

		.accordion {
			margin-top: 20px;
		}
	}
	.section__cell {
		&:nth-child(n) {
			width: 100%;
		}
	}
}