<section class="section  section--left">
	<div class="section__wrapper  container">
		<div class="section__grid">
			<div class="section__cell">
				@@include("../goal/goal.html")
			</div>
			<div class="section__cell  hidden-sm  hidden-xs">
				<div class="section__content">
					<p>Так же ремонтировал мелкую бытовую технику. Много лет занимался черно-белой фотографией. Помогал школьникам и студентам писать, оформлять и печатать рефераты, контрольные, курсовые и дипломные работы. Ремонтировал механические часы, занимался торговлей, открывал ИП и делал свой интернет-магазин. Работал контент-менеджером и администратором в чужих интернет-магазинах и даже работал программистом.</p>
					<p>Занятия приходилось менять с течением времени. Когда я, из-за потери сил, терял возможность делать что-то одно, то сразу изучал что-то другое, что подходило мне по физическим силам, и начинал заниматься этим. Главная цель была, как и прежде, убедиться, что я тоже живу на земле не зря.</p>
				</div>
			</div>
		</div>
	</div>
</section>