html {
	//overflow: hidden;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: $font-family--1;
	color: $color-black;
	background: #fff;
	font-size: 16px;
	line-height: 1.25;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: 400;
	font-stretch: normal;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	//position: fixed;
	//width: 100%;
	//height: 100%;
	//overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.main {
	flex-grow: 1;
	min-width: 0;
}

.page-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 15;
}

.container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	max-width: 1300px;
	padding-left: $lg-padding;
	padding-right: $lg-padding;
	overflow: hidden;
}

@media (min-width: $md-min) and (max-width: $md-max) {
	.container {
		padding-left: $md-padding;
		padding-right: $md-padding;
	}
}

@media (max-width: $sm-max) {
	.container {
		max-width: $sm-max;
		padding-left: $sm-padding;
		padding-right: $sm-padding;
	}
}

@media (max-width: $xs-max) {
	.container {
		max-width: $xs-max;
		padding-left: $xs-padding;
		padding-right: $xs-padding;
	}
}