$font-family--1: Roboto, Arial, Helvetica, sans-serif;
$font-family--2: Exo, Arial, Helvetica, sans-serif;

$lg-max: 1400px;
$lg-min: 1367px;
$md-max: 1366px;
$md-min: 1025px;
$sm-max: 1024px;
$sm-min: 768px;
$xs-max: 767px;
$xs-mid: 550px;
$xs-min: 370px;

$lg-padding: 42px;
$md-padding: 30px;
$sm-padding: 20px;
$xs-padding: 15px;

$anim-duration: 300ms;

$color-white: #ffffff;
$color-gray-light: #eeeeee;
$color-gray-light-2: #d9d9d9;
$color-gray-light-rgb: rgb(200, 200, 200);
$color-gray-light-3: #abadb3;
$color-gray: #979797;
$color-gray-rgb: rgb(151, 151, 151);
$color-gray-darker: #6e6f72;
$color-black-dark: #000000;
$color-black: #221e1f;
$color-yellow: #fff200;
$color-yellow-rgb: rgb(255, 242, 0);
$color-red: red;
