@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.fixed-block {
	position: relative;

	&.init-fixed {
		.fixed-block__content {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 100;
			box-sizing: border-box;
			max-width: 100%;
		}
	}

	&.active-fixed {
		.fixed-block__content {
			position: fixed;
			animation: show 800ms;
		}
	}
}

.fixed-block__content {
	position: relative;
}

@keyframes show {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}