@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.gallery {
	margin: 96px 0;
}

.gallery__grid {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.gallery__cell {
	padding: 15px;
	width: 100%;

	img {
		width: 100%;
	}
}