<section class="gallery  hidden-sm  hidden-xs">
	<div class="gallery__wrapper  container">
		<div class="gallery__grid">
			<div class="gallery__cell">
				<img src="/img/img__photo--4.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
			</div>
		</div>
	</div>
</section>
