@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.banner {
	margin-bottom: 96px;
}

.banner__title {
	margin: 0;
	padding: 0;
	font-size: 62px;
	line-height: 82px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
	font-weight: 400;
}

.banner__body {
	padding: 12px;
	background: #f7f9ff;
	border-radius: 28px;
	display: flex;
}

.banner__content {
	margin-top: 24px;
	margin-left: 8.5%;
	margin-right: 4.2%;
	margin-bottom: 34px;
	display: flex;
	flex-direction: column;
}

.banner__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.banner__descr {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #858484;
	margin-top: 4px;
}

.banner__scale {
	margin-top: auto;
}

.banner__visual {
	width: 46.71%;
	border-radius: 24px;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;

	img {
		width: 100%;
		object-fit: cover;
	}
}

.banner__footer {
	padding-left: 8.5%;
	margin-top: 32px;
}

.banner__caption {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

.banner__text {
	margin-top: 19px;
	font-size: 16px;
	line-height: 28px;
}

.banner__props-caption {
	margin-top: 50px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #858484;
	margin-bottom: 20px;
}

.banner__props {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.banner__prop {
	width: calc(50% - 14px);
}

.banner__prop-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
}

.banner__prop-value {
	margin-top: 12px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	white-space: nowrap;
}

.banner__action {
	margin-top: 28px;
}

.banner--second {
	.banner__content {
		margin-left: 7%;
	}

	.banner__visual {
		width: 40.79%;
	}
}

@media (max-width: $sm-max) {
	.banner {
		margin-bottom: 52px;
	}
	.banner__title {
		text-align: left;
		font-weight: 500;
		font-size: 32px;
		line-height: 36px;
		margin-bottom: 20px;
	}
	.banner__body {
		padding: 0;
		background: none;
	}
	.banner__content {
		margin: 0;
	}
	.banner__subtitle {
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
	}
	.banner__visual {
		width: 100%;
		margin-bottom: 20px;
		display: block;
	}
	.banner__name {
		margin-bottom: 12px;
		font-size: 22px;
		line-height: 32px;
	}
	.banner__descr {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #000;
	}
	.banner__props-caption {
		margin-top: 0;
		margin-bottom: 4px;
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;
		color: #000;
	}
	.banner__prop {
		width: 100%;
		padding: 12px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		+ .banner__prop {
			border-top: 1px solid #ededed;
		}
	}
	.banner__prop-name {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #575757;
	}
	.banner__prop-value {
		margin-top: 0;
		font-weight: 400;
		font-size: 26px;
		line-height: 32px;
		margin-left: 14px;
		text-align: right;
	}
	.banner__action {
		margin-top: 12px;
		display: flex;

		.btn {
			width: auto;
			margin: auto;
		}
	}
	.banner--main {
		padding-top: 30px;
		padding-bottom: 40px;
		background: #f6f9ff;
	}
	.banner--second {
		.banner__subtitle {
			font-size: 20px;
			line-height: 32px;
		}

		.banner__visual {
			width: 100%;
		}

		.banner__content {
			margin: 0;
		}
	}
}