<section class="banner  banner--main">
	<div class="banner__wrapper  container">
		<h1 class="banner__title">Поможем Сергею выжить</h1>
		<div class="banner__body">
			<div class="banner__content">
				<div class="banner__subtitle">Срочно необходим дыхательный аппарат НИВЛ и лекарство от СМА.</div>
				<div class="banner__visual  hidden-lg  hidden-md">
					<img src="/img/img__photo--1-mob.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
				</div>
				<div class="banner__name  hidden-lg  hidden-md">Сергей Поглазов 48 лет</div>
				<div class="banner__descr">Диагноз СМА – спинальная мышечная атрофия.</div>
				<div class="banner__scale">
					@@include("../scale/scale.html")
				</div>
			</div>
			<div class="banner__visual  hidden-sm  hidden-xs">
				<img src="/img/img__photo--1.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
			</div>
		</div>
		<div class="banner__footer  hidden-sm  hidden-xs">
			<div class="banner__caption">Заболевание поражает мышечную систему. Сейчас состояние критическое – отказывает функция дыхания. Срочно необходим дыхательный аппарат НИВЛ и лекарство от СМА.</div>
			<div class="banner__text">Сегодня лекарства, которое необходимо для лечения в Беларуси нет и чтобы его купить необходимо 300 000 $ в год. Вместо покупки дорогостоящего лекарства, Сергей и его семья могут переехать в Польшу, где это лекарство больным выдают бесплатно.</div>
		</div>
	</div>
</section>
