<section class="banner  banner--second">
	<div class="banner__wrapper  container">
		<div class="banner__body">
			<div class="banner__visual  hidden-sm  hidden-xs">
				<img src="/img/img__photo--2.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
			</div>
			<div class="banner__content">
				<div class="banner__subtitle">Давайте всем миром поможем Сергею сохранить жизнь! Его сыну – сохранить отца, а жене – мужа!</div>
				<div class="banner__visual  hidden-lg  hidden-md">
					<img src="/img/img__photo--2.jpg" loading="lazy" decoding="async" width="" height="" alt="" title="">
				</div>
				<div class="banner__props-caption">В сбор входит</div>
				<div class="banner__props">
					<div class="banner__prop">
						<div class="banner__prop-name">Аппарат НИВЛ с расходными материалами к нему</div>
						<div class="banner__prop-value">9 000 $</div>
					</div>
					<div class="banner__prop">
						<div class="banner__prop-name">Переезд в Польшу и проживание там на 1 год</div>
						<div class="banner__prop-value">15 000 $</div>
					</div>
				</div>
				<div class="banner__action">
					<a class="btn  btn--full  js-scroll-to" data-offset="100" href="#help" aria-label="хочу Помочь" title="хочу Помочь">хочу Помочь</a>
				</div>
			</div>
		</div>
	</div>
</section>
