<div class="clipped-text js-clipped" data-clipped-height="445" data-clipped-symbols="" data-width-init="5000">
	<div class="clipped-text__content js-clipped__content">
		<p>Спинальная мышечная атрофия (СМА) – заболевание, которое поражает мышечную систему. Мышцы с каждым годом становятся все слабее и слабее. Руки отказывают чуть медленнее ног. Выглядит это, примерно, так: сначала ты перестаешь стоять на ногах; потом перестаешь ползать; перестаешь сам садиться и ложиться в кровати; перестаешь сам поворачиваться лежа с бока на бок; перестаешь сам поднимать ложку ко рту и т.д.</p>
		<p>Ну и последнее, что теряешь, это способность глотать или дышать. От этого и умираешь, если еще раньше не задохнешься при любом кашле, будь то от простуды или от того, что поперхнешься хлебной крошкой. Способность откашливаться пропадает гораздо раньше, чем дыхание, поэтому в последние годы опасны для жизни любые простуды с кашлем.</p>
		<p>Спинальная мышечная атрофия (СМА) – заболевание, которое поражает мышечную систему. Мышцы с каждым годом становятся все слабее и слабее. Руки отказывают чуть медленнее ног. Выглядит это, примерно, так: сначала ты перестаешь стоять на ногах; потом перестаешь ползать; перестаешь сам садиться и ложиться в кровати; перестаешь сам поворачиваться лежа с бока на бок; перестаешь сам поднимать ложку ко рту и т.д.</p>
	</div>
	<button class="clipped-text__toggler clipped-text__toggler--open js-clipped__toggler" type="button">Читать больше информации</button>
	<button class="clipped-text__toggler clipped-text__toggler--close js-clipped__toggler" type="button">Свернуть</button>
</div>