@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.accordion {
	&.destroy-accordion,
	&.init-accordion {
		.accordion__content {
			position: static;
			visibility: visible;
		}
	}

	&.open-accordion {
		.accordion__toggler {
			.accordion__open {
				display: none;
			}

			.accordion__close {
				display: inline-block;
			}
		}

		.accordion__icon {
			transform: rotate(180deg);
		}

		> .accordion__content {
			overflow: visible;
		}
	}

	&.destroy-accordion {
		.accordion__toggler {
			cursor: default;
		}
	}
}

.accordion__toggler {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	margin-top: 12px;

	button {
		color: #0042c1;
		padding: 0;
	}

	&.open-accordion {
		.accordion__plus {
			&::after {
				transform: translate(-50%, -50%);
			}
		}
	}
}

.accordion__plus {
	width: 13px;
	height: 13px;
	position: relative;
	margin-right: 10px;

	&::before,
	&::after {
		content: '';
		width: 13px;
		height: 1px;
		background-color: currentColor;
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&::after {
		transition-duration: 400ms;
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

.accordion__icon {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	transition-duration: 300ms;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 45%;
		display: block;
		width: 6px;
		height: 6px;
		border-right: 2px solid currentColor;
		border-bottom: 2px solid currentColor;
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

.accordion__close {
	display: none;
}

.accordion__content {
	position: absolute;
	visibility: hidden;
	box-sizing: border-box;
}

.accordion__content-wrap {
	padding: 10px;
}

.accordion--native {
	.accordion__content {
		padding: 0;
		overflow: hidden;
		transition: height 1.2s ease-out;
		outline: 1px solid black;
	}
}