@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), local("Roboto Regular"),
	url("../fonts/Roboto-Regular.woff2") format("woff2"),
	url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto"), local("Roboto-Bold"), local("Roboto Bold"),
	url("../fonts/Roboto-Bold.woff2") format("woff2"),
	url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	src: local("Roboto"), local("Roboto-Medium"), local("Roboto Medium"),
	url("../fonts/Roboto-Medium.woff") format("woff"),
	url("../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light'), local('Roboto-Light'),
	url('../fonts/Robotolight.woff2') format('woff2'),
	url('../fonts/Robotolight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}