*,
*::before,
*::after {
	box-sizing: border-box;
}

body.ios {
	cursor: pointer;
}

button::-moz-focus-inner {
	border: none;
}

input[type=email],
input[type=text],
input[type=number],
input[type=search],
textarea {
	appearance: none;
}

input::-ms-clear {
	display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

button {
	border: none;
	background: transparent;
	border-radius: 0;
	outline: none;
}

ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

figure, figcaption {
	padding: 0;
	margin: 0;
}

a, label, button {
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: top;
	flex: 0 1 auto;
	min-width: 0;
	//margin: auto;
	object-fit: contain;
}

header, footer, section, p, article {
	margin: 0;
	padding: 0;
}