@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.flc:first-child,
.fc:first-child,
.fcc,
.fcc.fcc {
	margin-top: 0;
}

.flc:last-child,
.lc:last-child,
.lcc,
.lcc.lcc {
	margin-bottom: 0;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.bold {
	font-weight: 700;
}

.custom-scroll {
	scrollbar-width: thin;
	scrollbar-color: #efefef #959595;
	overflow-y: auto;

	&::-webkit-scrollbar {
		background-color: #efefef;
		width: 8px;
		background-clip: padding-box;
		border: 2px solid rgba(0, 0, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		border: 2px solid rgba(0, 0, 0, 0);
		width: 8px;
		background-color: #959595;
		background-clip: padding-box;
		transition-duration: $anim-duration;
		@include no-touch {
			&:hover {
				border-width: 0;
			}
		}
	}
}

@media (min-width: $lg-min) {
	.hidden-lg.hidden-lg {
		display: none;
	}
}

@media (min-width: $md-min) and (max-width: $md-max) {
	.hidden-md.hidden-md {
		display: none;
	}
}

@media (min-width: $sm-min) and (max-width: $sm-max) {
	.hidden-sm.hidden-sm {
		display: none;
	}
}

@media (max-width: $xs-max) {
	.hidden-xs.hidden-xs {
		display: none;
	}
}