@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.toggle-class {
	&.show-all {
		.toggle-class__toggler {
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				display: inline-block;
			}

			i {
				transform: rotate(180deg);
			}
		}
	}
}

.toggle-class__toggler {
	margin-top: 12px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #0042c1;

	span {
		&:nth-child(2) {
			display: none;
		}
	}
}