<div class="messengers">
	<a class="messengers__link  link" href="tel:+375298871366">+375 29 887-13-66 МТС</a>
	<div class="messengers__grid">
		<div class="messengers__cell">
			<a class="messengers__item" href="#">
				<svg class="symbol  symbol-whatsapp">
				  <use xlink:href="img/sprite/sprite.svg#whatsapp"></use>
				</svg>
			</a>
		</div>
		<div class="messengers__cell">
			<a class="messengers__item" href="#">
				<svg class="symbol  symbol-telegram">
				  <use xlink:href="img/sprite/sprite.svg#telegram"></use>
				</svg>
			</a>
		</div>
		<div class="messengers__cell">
			<a class="messengers__item" href="#">
				<svg class="symbol  symbol-viber">
				  <use xlink:href="img/sprite/sprite.svg#viber"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
