@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.messengers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.messengers__link {
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

.messengers__grid {
	display: flex;
	align-items: center;
	margin: -16px;
}

.messengers__cell {
	padding: 16px;
}

.messengers__item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	@include no-touch {
		&:hover {
			background-color: #0042c1;
		}
	}

	svg {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: $sm-max) {
	.messengers__item {
		background-color: #0042c1;
	}
}