@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 28px;
	border: 1px solid #0042c1;
	background: #0042c1;
	border-radius: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition-duration: 300ms;

	svg {
		width: 20px;
		height: 20px;

		&:last-child {
			margin-left: 16px;
		}
	}
}

.btn--border {
	color: #0042c1;
	background-color: transparent;
}

.btn--full {
	width: 100%;
}

@include no-touch {
	.btn:hover {
		opacity: 0.8;
	}
}

@media (max-width: $sm-max) {
	.btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		padding: 8px 43px;
		border-radius: 8px;
	}
}