@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.info {
	margin-bottom: 98px;
}

.info__grid {
	display: flex;
	flex-wrap: wrap;
}

.info__cell {
	&:nth-child(odd) {
		width: 52.3%;
	}

	&:nth-child(even) {
		width: 47.7%;
	}
}

.info__title {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 400;
	font-size: 52px;
	line-height: 72px;
	text-transform: uppercase;
}

.info__content {
	padding: 40px 85px;
	background: #f6f9ff;
	border-radius: 28px;
	font-size: 16px;
	line-height: 28px;

	p {
		+ p {
			margin-top: 16px;
		}
	}
}

.info__list {
	padding-top: 40px;
	padding-left: 85px;
}

@media (max-width: $sm-max) {
	.info {
		margin-bottom: 52px;
	}
	.info__wrapper {
		padding: 0;
	}
	.info__cell {
		&:nth-child(n) {
			width: 100%;
		}
	}
	.info__content {
		padding: 50px $sm-padding;
		font-size: 18px;
		line-height: 28px;
	}
	.info__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 20px;
	}
	.info__list {
		padding: 50px $sm-padding 0;
	}
}

@media (max-width: $xs-max) {
	.info__list {
		padding: 50px $xs-padding 0;
	}
	.info__content {
		padding: 50px $xs-padding;
	}
}