<section class="info">
	<div class="info__wrapper  container">
		<div class="info__grid">
			<div class="info__cell" id="about-disease">
				<div class="info__content">
					<h2 class="info__title" id="disease">О болезни</h2>
					@@include("../clipped-text/clipped-text.html")
				</div>
			</div>
			<div class="info__cell" id="documents">
				<div class="info__list">
					<h2 class="info__title">Документы</h2>
					@@include("../documents/documents.html")
				</div>
			</div>
		</div>
	</div>
</section>
