@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.help {

}

.help__title {
	margin: 0;
	margin-bottom: 32px;
	font-weight: 400;
	font-size: 52px;
	line-height: 72px;
	text-transform: uppercase;
}

.help__contacts {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.help__contacts-name {
	width: 50%;
	padding-right: 20px;
}

.help__contacts-phone {
	display: flex;
	align-items: center;

	img {
		height: 25px;
		margin-left: 14px;
	}
}

.help__caption {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
}

.help__section {
	margin-top: 44px;
	padding-top: 44px;
	border-top: 1px solid #f0f0f0;

	.help__caption {
		margin-bottom: 20px;
	}
}

.help__grid {
	margin: -10px;
	display: flex;
	flex-wrap: wrap;
}

.help__cell {
	padding: 10px;
}

.help__cell--33 {
	width: 33.33%;
}

.help__cell--50 {
	width: 50%;
}

.help__item {
	+ .help__item {
		margin-top: 40px;
	}
}

.help__text {
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;

	a {
		font-weight: 700;
	}
}

.help__card {
	display: flex;
	align-items: center;
	margin-top: 12px;

	> img {
		margin-right: 16px;
		width: 27px;
		flex-shrink: 0;

		+ span {
			margin-left: 0;
		}
	}

	> b {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
	}

	> span {
		margin-left: 16px;
		font-weight: 300;
		font-size: 20px;
		line-height: 32px;
	}
}

span.help__card-name {
	margin-left: 0;
	margin-right: 8px;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.help__descr {
	margin-top: 40px;
}

.help__descr-caption {
	margin-bottom: 2px;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	display: flex;
	align-items: center;

	img {
		margin-left: 12px;
	}
}

.help__note {
	margin-top: 32px;
	padding: 16px 28px;
	background: #f7f9ff;
	border-radius: 24px;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #858484;
}

@media (max-width: $sm-max) {
	.help__title {
		margin-bottom: 32px;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
	}
	.help__caption {
		font-size: 22px;
		line-height: 32px;
	}
	.help__contacts {
		flex-direction: column;
		align-items: flex-start;
	}
	.help__contacts-phone {
		margin-top: 12px;
	}
	.help__section {
		margin-top: 28px;
		padding-top: 28px;
		border-top-width: 2px;
	}
	.help__grid {
		margin: -16px -10px;
	}
	.help__cell {
		width: 100%;
		padding: 16px 10px;
	}
	.help__item {
		+ .help__item {
			margin-top: 32px;
		}
	}
	.help__text {
		font-size: 16px;
		line-height: 24px;
	}
	.help__card {
		> img {
			margin-right: 12px;
		}

		> b {
			font-size: 20px;
			line-height: 32px;

			span {
				white-space: nowrap;
			}
		}

		> span {
			margin-left: 12px;
			font-size: 16px;
			line-height: 24px;
		}

		+ .help__text {
			margin-top: 20px;
		}
	}
	.help__descr {
		margin-top: 24px;
	}
	.help__note {
		margin-top: 24px;
		padding: 16px 20px;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}
	.help__contacts-name {
		width: 100%;
		padding-right: 0;
	}
	span.help__card-name {
		margin-left: 0;
	}
}

@media (max-width: $xs-min) {
	.help__card {
		> b {
			font-size: 17px;
		}
	}
}