<section class="help" id="help">
	<div class="help__wrapper  container">
		<div class="help__header">
			<h2 class="help__title">Способы Как помочь</h2>
			<div class="help__contacts">
				<div class="help__contacts-name  help__caption">Пополнить баланс телефона</div>
				<div class="help__contacts-phone  help__caption">
					<span>+375 29 288-88-60</span>
					<img src="/img/icon__mts.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
				</div>
			</div>
		</div>
		<div class="help__section">
			<div class="help__caption">Пополнить карты</div>
			<div class="help__grid">
				<div class="help__cell  help__cell--33">
					<div class="help__text">Карты ОАО «АСБ Беларусбанк»</div>
					<div class="help__card">
						<img src="/img/icon__flag--by.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<b>5470 8740 5204 8194</b>
						<span>02/25</span>
					</div>
					<div class="help__card">
						<img src="/img/icon__flag--en.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<b>5470 8740 5206 4605</b>
						<span>03/25</span>
					</div>
					<div class="help__card">
						<img src="/img/icon__flag--ru.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<b>5470 8740 5206 4571</b>
						<span>03/25</span>
					</div>
				</div>
				<div class="help__cell  help__cell--33">
					<div class="help__text">Карты ОАО «Белагропромбанк»</div>
					<div class="help__card">
						<img src="/img/icon__flag--by.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<b>5201 9500 4285 1297</b>
						<span>01/25</span>
					</div>
				</div>
				<div class="help__cell  help__cell--33">
					<div class="help__text">Карты ОАО «Белгазпромбанк»</div>
					<div class="help__card">
						<img src="/img/icon__flag--by.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<b>5299 2299 2775 4733</b>
						<span>01/27</span>
					</div>
				</div>
			</div>
		</div>
		<div class="help__section">
			<div class="help__caption">Реквизиты для материальной помощи</div>
			<div class="help__text">Благотворительные счета открыты в центре банковских услуг 415 г. Мосты, ул. Советская, д. 44 УНП 100325912 / МФО AKBBBY2X</div>
			<div class="help__grid">
				<div class="help__cell  help__cell--50">
					<div class="help__card">
						<img src="/img/icon__flag--by.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<span>BYN благотворительный счет:</span>
					</div>
					<div class="help__card">
						<b>BY87AKBB31340000069834020415</b>
					</div>
				</div>
				<div class="help__cell  help__cell--50">
					<div class="help__card">
						<img src="/img/icon__flag--en.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<span>USD благотворительный счет:</span>
					</div>
					<div class="help__card">
						<b>BY19AKBB31341000005760070000</b>
					</div>
				</div>
				<div class="help__cell  help__cell--50">
					<div class="help__card">
						<img src="/img/icon__flag--ru.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<span>RUB благотворительный счет:</span>
					</div>
					<div class="help__card">
						<b>BY76AKBB31340000086784020415</b>
					</div>
				</div>
				<div class="help__cell  help__cell--50">
					<div class="help__card">
						<img src="/img/icon__flag--eu.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						<span>EUR благотворительный счет:</span>
					</div>
					<div class="help__card">
						<b>BY86AKBB31342000004970070000</b>
					</div>
				</div>
			</div>
			<div class="help__descr">
				<div class="help__grid">
					<div class="help__cell  help__cell--50">
						<div class="help__descr-caption">Назначение платежа</div>
						<div class="help__text">Для зачисления на благотворительный счет, открытый на имя Поглазова Сергея Васильевича, на лечение и реабилитацию.</div>
					</div>
					<div class="help__cell  help__cell--50">
						<div class="help__descr-caption">Транзитный счёт:
							<img src="/img/icon__flag--by.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
							<img src="/img/icon__flag--en.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
							<img src="/img/icon__flag--ru.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
							<img src="/img/icon__flag--eu.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
						</div>
						<div class="help__text">BY94AKBB38193821000320000000</div>
					</div>
				</div>
			</div>
			<div class="help__note">Осуществить благотворительный платеж можно в учреждениях банка и посредством услуги «Произвольный платеж (платеж по реквизитам)» в инфокиосках, Интернет-банкинге и М-банкинге.</div>
		</div>
		<div class="help__section">
			<div class="help__caption">Перевод через сервисы «Paysend», «KoronaPay», «PayPal»</div>
			<div class="help__grid">
				<div class="help__cell  help__cell--50">
					<div class="help__item">
						<div class="help__text">Карты для перевода <a href="#">«Paysend»:</a></div>
						<div class="help__card">
							<span class="help__card-name">Имя получателя:</span>
							<b>SIARHEI PAHLAZAU</b>
						</div>
						<div class="help__card">
							<img src="/img/icon__flag--en.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
							<b>5470 8740 5206 4605</b>
							<span>03/25</span>
						</div>
						<div class="help__card">
							<img src="/img/icon__flag--eu.png" loading="lazy" decoding="async" width="" height="" alt="" title="">
							<b>5470 8740 5206 4571</b>
							<span>03/25</span>
						</div>
					</div>
				</div>
				<div class="help__cell  help__cell--50">
					<div class="help__item">
						<div class="help__text">Перевод через cервис <a href="#">«KoronaPay»:</a></div>
						<div class="help__card">
							<span class="help__card-name">Имя получателя:</span>
							<b>HANNA PAHLAZAVA</b>
						</div>
						<div class="help__card">
							<span class="help__card-name">Телефон:</span>
							<b>+375 29 288-88-60</b>
						</div>
					</div>
					<div class="help__item">
						<div class="help__text">Перевод через сервис <a href="#">«PayPal»:</a></div>
						<div class="help__card">
							<span class="help__card-name">E-mail:</span>
							<b>sergei_poglazov@mail.ru</b>
						</div>
						<div class="help__card">
							<span class="help__card-name">Валюта:</span>
							<b>EUR, USD, PLN</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
