<footer class="footer" id="contacts">
	<div class="footer__wrapper  container">
		<div class="footer__body">
			<h2 class="footer__title">Контакты</h2>
			<div class="footer__text">
				<p>Из-за проблем с легкими Cергею очень сложно общаться по телефону голосом (меня почти не слышат).</p>
				<p>Предпочтительнее, для связи использовать переписку, а не голосовые вызовы.</p>
			</div>
			@@include("../messengers/messengers.html")
			<div class="footer__email">
				<div class="footer__email-caption">E-MAIL</div>
				<a href="mailto:sergei@helpmeplease.ru" class="footer__link  link">sergei@helpmeplease.ru</a>
			</div>
			@@include("../social/social.html")
		</div>
	</div>
</footer>
@@include("../scroll-top/scroll-top.html")