@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.footer {
	margin-top: 120px;
	padding-top: 83px;
	padding-bottom: 144px;
	background: #f3f3f3;
	border-radius: 40px 40px 0 0;

	.messengers {
		margin-bottom: 40px;
	}
}

.footer__body {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.footer__title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 44px;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
}

.footer__text {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 47px;
	text-align: center;
}

.footer__email {
	margin-bottom: 40px;
}

.footer__email-caption {
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #656565;
}

.footer__link {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}

@media (max-width: $sm-max) {
	.footer {
		margin-top: 52px;
		padding-top: 52px;
		padding-bottom: 72px;
	}
	.footer__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
	}
	.footer__text {
		margin-bottom: 32px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;

		p + p {
			margin-top: 16px;
		}
	}
	.footer__email-caption {
		line-height: 24px;
	}
}