@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.header {
	margin-bottom: 55px;
}

.header__wrapper {
	background-color: #fff;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__adaptive {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__current {
	color: #000;
}

@media (max-width: $sm-max) {
	.header {
		margin-bottom: 0;

		&.show-menu {
			.header__body {
				transform: translateX(0);
			}
		}
	}
	.header__wrapper {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #000;
		background: #f6f9ff;
	}
	.header__body {
		background: #f6f9ff;
		position: fixed;
		top: 0;
		left: 0;
		max-width: 300px;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		z-index: 100;
		transform: translateX(-100%);
		padding-top: 28px;
		padding-bottom: 52px;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
	}
	.header__toggle {
		svg {
			width: 34px;
			height: 34px;
		}
	}
	.header__close {
		position: absolute;
	}
	.header__nav {
		width: 100%;
		padding-bottom: 24px;
		margin-bottom: 32px;
		border-bottom: 2px solid #d6d6d6;
	}
	.header__descr {
		margin-bottom: 27px;

		p {
			+ p {
				padding-top: 15px;
			}
		}
	}
	.header__close {
		@include icon-close();
		position: absolute;
		width: 30px;
		height: 30px;
		right: 20px;
		top: 10px;
	}
	.header__email-caption {
		margin-bottom: 12px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
	}
	.header__email-value {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		color: #000;
	}
	.header__links {
		.social,
		.messengers {
			align-items: flex-start;
			margin-bottom: 36px;
		}

		.social__caption {
			text-align: left;
		}
	}
}