<header class="header  fixed-block js-fixed  js-class" data-class="show-menu">
	<div class="header__wrapper  fixed-block__content js-fixed__content">
		<div class="header__body  container">
			<button class="header__close  hidden-lg  hidden-md  js-class__toggler" type="button" aria-label="Скрыть меню" title="Скрыть меню"></button>
			<div class="header__nav">
				@@include("../main-nav/main-nav.html")
			</div>
			<div class="header__descr  hidden-lg  hidden-md">
				<p>Из-за проблем с легкими Cергею очень сложно общаться по телефону голосом (меня почти не слышат).</p>
				<p>Предпочтительнее, для связи использовать переписку, а не голосовые вызовы.</p>
			</div>
			<div class="header__links  hidden-lg  hidden-md">
				@@include("../messengers/messengers.html")
				@@include("../social/social.html")
			</div>
			<div class="header__email  hidden-lg  hidden-md">
				<div class="header__email-caption">E-MAIL</div>
				<a href="mailto:sergei@helpmeplease.ru" class="header__email-value">sergei@helpmeplease.ru</a>
			</div>
			<div class="header__action  hidden-sm  hidden-xs">
				<a class="header__help  btn  js-scroll-to" data-offset="100" href="#help">хочу Помочь</a>
			</div>
		</div>
		<div class="header__adaptive  container  hidden-lg  hidden-md">
			<a class="header__current  js-scroll-to" data-offset="100" href="#about-collection">История Сергея Поглазова</a>
			<button class="header__toggle  js-class__toggler" type="button" aria-label="Показать меню" title="Показать меню">
				<svg class="symbol  symbol-hamburger">
					<use xlink:href="img/sprite/sprite.svg#hamburger"></use>
				</svg>
			</button>
		</div>
	</div>
</header>