<div class="goal">
	<div class="goal__wrapper">
		<div class="goal__title">« Главная цель была убедиться, что я тоже живу на земле не зря »</div>
		<div class="goal__action">
			<a class="btn  btn--full  btn--border" href="#help" aria-label="Сайт-блог Сергея" title="Сайт-блог Сергея">
				<span>Сайт-блог Сергея</span>
				<svg class="symbol  symbol-arrow-right">
					<use xlink:href="img/sprite/sprite.svg#arrow-right"></use>
				</svg>
			</a>
			<a class="btn  btn--full  js-scroll-to" data-offset="100" href="#help" aria-label="Помочь Сергею" title="Помочь Сергею">Помочь Сергею</a>
		</div>
	</div>
</div>
