@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.goal {
	padding: 64px;
	background: #f7f9ff;
	border-radius: 28px;
	display: flex;
	justify-content: center;
}

.goal__wrapper {
	max-width: 336px;
}

.goal__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	text-align: center;
}

.goal__action {
	margin-top: 32px;

	.btn {
		+ .btn {
			margin-top: 20px;
		}
	}
}

@media (max-width: $sm-max) {
	.goal {
		border-radius: 28px;
		padding: 30px 14px;
	}
	.goal__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;
	}
	.goal__action {
		margin-top: 24px;
		.btn {
			+ .btn {
				margin-top: 12px;
			}
		}
	}
}